@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}


.investor h1 {
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

.investor p {
  color: white;
  font-size: 14px;
  padding-top: 12px;
  text-align: justify;
}



.content_header {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total_deposite {
  display: flex;
  justify-content: end;
  align-items: center;
}

.deposite_text p {
  font-size: 18px;
  color: navy;
  font-weight: 600;
}

.deposite_amount p {
  font-size: -18px;
  color: navy;
  font-weight: 600;
  margin-left: 10px;
}

.company_logo h2 {
  font-size: 18px;
  color: #7a7d82;
  font-weight: 600;
}

.terms tbody tr td {
  border: 1px solid navy;
}

.terms_area {
  width: 90%;
  margin: auto;
}

.user {
  width: 90%;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}

.user_info_area {
  display: flex;
  justify-content: space-evenly;
}

.user .user_info_left p,
.user_info_right p {
  font-size: 16px;
  color: navy;
  font-weight: 600;
  margin-bottom: 5px;
}

.termSegment {
  background: rgb(94, 160, 163);
  background: linear-gradient(90deg, rgba(94, 160, 163, 0.4683998599439776) 20%, rgba(212, 228, 205, 0.4683998599439776) 50%, rgba(164, 210, 219, 1) 90%);
  padding-top: 40px;
  padding-bottom: 60px;
}

.bolded {
  font-weight: bold;
}


.terms_area table {
  width: 100%;
  border-collapse: collapse;
}

.tableArea td {
  text-align: center;
  padding: 10px;
}



.terms_area {
  padding: 20px;
  box-shadow: 22px 20px 11px -18px #7a7d82;
  border-bottom: solid rgb(227, 223, 223);
  border-left: solid rgb(227, 223, 223);
  border-radius: 5px;
  margin-top: 30px;
}

.terms_area h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: navy;
}

.terms_area thead {
  background-color: navy;
  color: white;
}

.terms_area thead tr {
  border: 1px solid #000;
}

.declaration {
  width: 90%;
  margin: auto;
}

.declaration h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.monthDetails h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: navy;
  text-align: end;
}

.tenureStatus {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: black;
  text-align: start;
}



.monthDetails {
  margin: 50px;
  padding: 20px;
  box-shadow: 22px 20px 11px -18px #7a7d82;
  border-bottom: solid rgb(227, 223, 223);
  border-left: solid rgb(227, 223, 223);
  border-radius: 5px;
}


.monthDetails table {
  width: 100%;
  border-collapse: collapse;
}

.monthDetails {
  width: 90%;
  margin: auto;
}

.monthDetails thead {
  background-color: navy;
  color: white;
  border: 1px solid #000;
}

.monthDetails td {
  text-align: center;
  padding: 10px;
}

.sidebar {
  box-shadow: 15px 1px 25px -8px #7a7d82;
}

.ending {
  padding: 0px;
  background-color: black;
  color: white;
}

.imgs {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.texts {
  text-align: center;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ending img {
  height: 33px;
  width: 33px;
  align-items: center;
}

.ending p {
  padding: 5px;
}



/* ================MediaQuary========== */
@media only screen and (max-width: 991px) {
  .sidebar {
    width: 100%;
    top: 0;
    height: 120px;
    padding: 30px 20px 30px 20px;
    background: black;
    position: fixed;
  }

  .usearArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }





  .terms_area {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 860px) {


  .texts {
    flex-direction: column;
  }
}

@media only screen and (max-width: 680px) {
  .terms table thead {
    display: none;
  }

  .terms tr {
    margin-bottom: 20px;
  }

  .terms table tbody,
  .terms tr,
  .terms td {
    display: block;
    width: 100%;
  }

  .terms table tr td {
    text-align: right;
    padding-right: 50px;
    position: relative;
  }

  .terms td::before {
    content: attr(data-lable);
    position: absolute;
    left: 0;
    padding-left: 20px;
    font-size: 18px;
    color: navy;
    font-weight: 700;
  }

  .company_logo h2 {
    font-size: 16px;
    text-align: center;
  }

  .total_deposite {
    display: block;
    text-align: center;
  }

  .user_info_area {
    display: block;
    text-align: center;

  }

  .content_header {
    display: block;
    text-align: center;
  }

  .user_info_left p {
    font-size: 14px;
  }

  .user_info_right p {
    font-size: 14px;
  }


}

@media only screen and (max-width: 460px) {
  .usearArea {
    display: block;
  }



  .declaration h2 {
    margin-top: 50px;
  }

  .main_content {
    width: 100%;
    margin: 0px auto;
  }

  .terms_area {
    padding: 5px;
  }

  .terms td::before {
    padding-left: 5px;
    font-size: 14px;
    color: navy;
    font-weight: 600;
  }

  .terms table tr td {
    padding-right: 5px;
  }

  .monthDetails h2 {
    font-size: 14px;
    font-weight: 600;
  }

  .terms_area h2 {
    font-size: 14px;
    font-weight: 600;
  }

  .declaration h2 {
    font-size: 18px;
  }

  .content_header {
    padding: 10px;
    display: block;
  }

  .total_deposite {
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }


}